{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Page  -->

<section id="overviews" class="section wb">

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
     {% if request.user.is_authenticated and request.user.profile.is_teacher == True %}
     
    <a href="{% url 'blogs:add_doc' %}"><button type="button" class="btn btn-info">Ajouter un document</button></a>
      {% endif %} 
    <br/><br/>
       <!--blog post-->
    {% if documents %}
  
        {% for post in documents %}
      
        <div class="blog-post">
         
         
          
          <h3>{{ post.title }}</h3>
         
       
          
          <a href="#" class="btn btn-primary">Read More</a>
         {% if request.user.is_authenticated %}
         {% if request.user.profile.is_teacher == True %}
          {% if user.id == post.author.id %}
          <a href="{% url 'blogs:update_doc' post.id %}" class="btn btn-info">Mettre à jour</a>
          {% endif %}
          {% endif %}
          {% endif %}
        </div>
        {% endfor %}
        {% else %} 

<p>Aucun document, désolé!!!</p>
        {% endif %}
    
     
  
      </div>
      

    </div>
  </div>
</section>
<!-- Page end -->

{% endblock content %}

