{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Page  -->

<section id="overviews" class="section wb">
 
    
  <div class="container">
    {% if request.user.is_authenticated and request.user.profile.is_teacher == True %}
     
    <a href="{% url 'blogs:add_doc' %}"><button type="button" class="btn btn-info">Ajouter un document</button></a>
      {% endif %} 
    <br/><br/>
    <div class="row ">
       <!--blog post-->
     {% if documents %}
  
     {% for post in documents %}
      <div class="col-lg-4 blog-post">
    
      
          <h3><a href="{{ post.doc_file.url }}">{{ post.title }}</a></h3>
          <br><a href="{{ post.doc_file.url }}" download>Telecharger</a>     ||  <strong> <a href="#">Lire</a></strong>
       
          
        
         {% if request.user.is_authenticated %}
         {% if request.user.profile.is_teacher == True %}
          {% if user.id == post.author.id %}
          <a href="{% url 'blogs:update_doc' post.id %}" class="btn btn-info">Mettre à jour</a>
          {% endif %}
          {% endif %}
          {% endif %}
    </div>
        
     
        {% endfor %}

        {% else %} 

<p>Aucun document, désolé!!!</p>
        {% endif %}
     </div>
     
  
      </div>
      

  

</section>
<!-- Page end -->

{% endblock content %}

