{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>CONTACTS</h1>
            <span>Nous contacter maintenant</span>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-information">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="contact-item">
              <i class="fa fa-phone"></i>
              <h4>Phone</h4>
              <p>Nous sommes disponibles 24/24.</p>
              <a href="#">+227 89394867</a>
              <a href="#">+33 774021992</a>


            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-item">
              <i class="fa fa-envelope"></i>
              <h4>Email</h4>
              <p>Evrivez nous par mail.</p>
              <a href="#">Consultantformateurqhse@gmail.com</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-item">
              <i class="fa fa-map-marker"></i>
              <h4>Adresse</h4>
              <p>08 Rue<br>Issa Beri,Niamey Niger</p>
              <a href="#">Notre localisation Google Maps</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'devis.html' %}

    <div id="map">
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.14681522718!2d2.103259614358749!3d13.526580206118098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x11d075827c8af1fb%3A0xe84f49959c2dd0a6!2sCit%C3%A9%20EAMAC%2C%20Niamey!5e0!3m2!1sfr!2sne!4v1620659608654!5m2!1sfr!2sne" width="100%" frameborder="0" height="500px" style="border:0;" allowfullscreen loading="lazy"></iframe>
                                                                                                                                                                                                                                                                                                                                       
    </div>
<!--
    <div class="partners contact-partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
              <div class="partner-item">
                <img src="{% static 'assets/images/client-01.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
-->

    
    
{% endblock %}