{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Content -->
    
<section id="overviews" class="section wb">

  <div class="container">
    <div class="row">
          <div class="col-md-12">
            <h1>CONTACTS</h1>
            <span>Nous contacter maintenant</span>
          </div>
        </div>
      </div>
  

    <div class="contact-information">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="contact-item">
              <i class="fa fa-phone"></i>
              <h4>Phone</h4>
              <p>Nous sommes disponibles 24/24.</p>
              <a href="#">+1 434 422 207 5</a>
            


            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-item">
              <i class="fa fa-envelope"></i>
              <h4>Email</h4>
              <p>Evrivez nous par mail.</p>
              <a href="#">bloufouma@gmail.com</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-item">
              <i class="fa fa-map-marker"></i>
              <h4>Adresse</h4>
              <p>08 Rue<br>Issa Beri,Niamey Niger</p>
              <a href="#">Notre localisation Google Maps</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'devis.html' %}




</section> 
    
{% endblock %}