{% load static %}
<section class="section lb page-section">
    <div class="container">
         <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>Notre Histoire</h3>
                <p class="lead">Schoolieducation a été créée par Exploit Lothar, un jeune congolais. Les premières lignes de code de Schooli ont été codées dans le campus de L'EAMAC, à niamey, au Niger.</p>
            </div>
        </div><!-- end title -->
        <div class="timeline">
            <div class="timeline__wrap">
                <div class="timeline__items">
                    <div class="timeline__item">
                        <div class="timeline__content img-bg-01">
                            <h2>2020</h2>
                            <p>Naissance de SchooliEducation, précisement en Octobre 2020. la prémière version de Schooli à été mis en ligne sur la plateforme Heroku le samédi 24 Octobre 2020 par Exploit Lothar.</p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>